<div class="row">
<div class="col-xs-12 text-center">

<h1>Survivors</h1>
 </div>

 <div class="col-md-8 col-md-offset-2 col-xs-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Abducted</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @survivors.each do |survivor| %>
      <tr>
        <td><%= survivor.name %></td>
        <td><%= survivor.age %></td>
        <td><%= survivor.gender %></td>
        <td><%= survivor.latitude %></td>
        <td><%= survivor.longitude %></td>
        <td><%= survivor.abducted %></td>
        <td><%= link_to 'Show', survivor %></td>
        <td><%= link_to 'Edit', edit_survivor_path(survivor) %></td>
        <td><%= link_to 'Destroy', survivor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <p>  blablabla </p>

  </tbody>
</table>

<br>



