<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survivor.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @survivor.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @survivor.gender %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @survivor.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @survivor.longitude %>
</p>

<strong>Abducted:</strong>
  <%= @survivor.abducted %>



<%= link_to 'Edit', edit_survivor_path(@survivor) %> |
<%= link_to 'Back', survivors_path %> |
<%= link_to 'Mark as Abducted', abducted_path(@survivor) %>
