<p id="notice"><%= notice %></p>

<h1>Suvivors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suvivors.each do |suvivor| %>
      <tr>
        <td><%= suvivor.name %></td>
        <td><%= suvivor.age %></td>
        <td><%= suvivor.gender %></td>
        <td><%= link_to 'Show', suvivor %></td>
        <td><%= link_to 'Edit', edit_suvivor_path(suvivor) %></td>
        <td><%= link_to 'Destroy', suvivor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suvivor', new_suvivor_path %>
