<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @suvivor.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @suvivor.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @suvivor.gender %>
</p>

<%= link_to 'Edit', edit_suvivor_path(@suvivor) %> |
<%= link_to 'Back', suvivors_path %>
